extends layout.pug

block content
  h1 Books
  p
    a.button(href='/books/new') Create New Book
    form(action='/books', method='get', id='searchBar')
      input(type='search', name='searchInput', id='searchInput', value=`${searchInput || ''}`)
      input(type='submit', value='Search', class='searchBtn')
      a.button(href='/books') Clear Search
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      for book in library
        tr
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
  - let i = 1;
    while i < pages + 1
      a.button.page(href=`/books?page=${i}`)= i++
